@import '../static/base';

// Mixins here
@mixin TaskColumnStyles() {
  @include flex(row);
  align-items: flex-start;
  gap: .5rem;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }

  > .taskColumnContainer, > .newColumnContainer {
    flex: 0 0 auto;
  }
  > .newColumnContainer{
    width: 17.5rem;
    height:35rem;
    @include flexComp(column);
    margin-top: 2.85rem;
    margin-left: .5rem;
    margin-right: 1rem;
    @include fontSize24px();
    color: $mediumGrey;

  }
}







// Including the mixins here
.taskColumnContainerWrap {
  @include TaskColumnStyles();
}


.containerOpenForBoard {
  @include ContainerPosition('small');
}


#overLayEffect {
  @include OverlayEffect();
}
