@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
.ball:nth-child(1) {
  animation: bounce 1.1s -0.32s infinite;
}

.ball:nth-child(2) {
  animation: bounce 1.1s -0.16s infinite;
}

.ball:nth-child(3) {
  animation: bounce 1.1s -0.25s infinite;
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  80%, 100% {
    transform: scale(0);
  }
}
.deleteContainer {
  width: 21.4375rem;
  height: auto;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
}
@media (min-width: 768px) {
  .deleteContainer {
    width: 30rem;
    height: auto;
    padding: 2.5rem 2rem;
  }
}
.deleteContainer > form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.deleteContainer > form > article {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
  color: #ea5555;
}
.deleteContainer > form > p.deleteText {
  color: #828fa3;
  font-size: clamp(0.8125rem, 0.82vw, 0.825rem);
}
.deleteContainer > form > .btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
@media (min-width: 768px) {
  .deleteContainer > form > .btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}

.editBoardContainer {
  width: 21.4375rem;
  height: auto;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
  padding: 2rem 1.5rem;
}
@media (max-width: 1000px) {
  .editBoardContainer {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 768px) {
  .editBoardContainer {
    width: 30rem;
  }
}
.editBoardContainer > article {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
}
.editBoardContainer > form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.editBoardContainer > form > .boardNameContainer > label {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.75rem, 0.755vw, 0.76rem);
  row-gap: 0.5rem;
  width: 100%;
}
.editBoardContainer > form > .boardNameContainer > label > input {
  height: 2.5rem;
  font-size: clamp(0.8125rem, 0.82vw, 0.825rem);
  background-color: transparent;
  border: 1px solid #828fa3;
  outline: none;
  border-radius: 0.25rem;
  padding: 0rem 0rem 0rem 1rem;
}
.editBoardContainer > form > .boardNameContainer > label > input:hover {
  border-color: #635fc7;
  cursor: pointer;
}
.editBoardContainer > form > .boardColumnsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.editBoardContainer > form > .boardColumnsContainer > p.boardColumnsText {
  font-size: clamp(0.75rem, 0.755vw, 0.76rem);
}
.editBoardContainer > form > .boardColumnsContainer > .containerForColumn {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 7rem;
}
.editBoardContainer > form > .boardColumnsContainer > .containerForColumn > .scrollableContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.editBoardContainer > form > .boardColumnsContainer > .containerForColumn > .scrollableContainer ::-webkit-scrollbar {
  display: none;
}
.editBoardContainer > form > .boardColumnsContainer > .containerForColumn > .scrollableContainer > .eachColumnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.editBoardContainer > form > .boardColumnsContainer > .containerForColumn > .scrollableContainer > .eachColumnContainer > label > input {
  width: 16.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  font-size: clamp(0.8125rem, 0.82vw, 0.825rem);
  background-color: transparent;
  border: 1px solid #828fa3;
  outline: none;
  padding: 0rem 0rem 0rem 1rem;
}
.editBoardContainer > form > .boardColumnsContainer > .containerForColumn > .scrollableContainer > .eachColumnContainer > label > input:hover {
  border-color: #635fc7;
  cursor: pointer;
}
@media (min-width: 768px) {
  .editBoardContainer > form > .boardColumnsContainer > .containerForColumn > .scrollableContainer > .eachColumnContainer > label > input {
    width: 24.0625rem;
  }
}

.addTaskContainer {
  width: 21.4375rem;
  height: auto;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
  padding: 2rem 1.5rem;
}
@media (max-width: 1000px) {
  .addTaskContainer {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 768px) {
  .addTaskContainer {
    width: 30rem;
  }
}
.addTaskContainer > article {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
}
.addTaskContainer > form {
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
}
.addTaskContainer > form > .boardNameContainer > label {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.75rem, 0.755vw, 0.76rem);
  row-gap: 0.5rem;
  width: 100%;
}
.addTaskContainer > form > .boardNameContainer > label > input {
  height: 2.5rem;
  font-size: clamp(0.8125rem, 0.82vw, 0.825rem);
  background-color: transparent;
  border: 1px solid #828fa3;
  outline: none;
  border-radius: 0.25rem;
  padding: 0rem 0rem 0rem 1rem;
}
.addTaskContainer > form > .boardNameContainer > label > input:hover {
  border-color: #635fc7;
  cursor: pointer;
}
.addTaskContainer > form > .boardNameContainer > label > textarea.descriptionContainer {
  height: 7rem;
  font-size: clamp(0.8125rem, 0.82vw, 0.825rem);
  background-color: transparent;
  border: 1px solid #828fa3;
  outline: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0rem 0rem 1rem;
  text-align: left;
}
.addTaskContainer > form > .boardNameContainer > label > textarea.descriptionContainer:hover {
  border-color: #635fc7;
  cursor: pointer;
}
.addTaskContainer > form > .boardColumnsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.addTaskContainer > form > .boardColumnsContainer > p.boardColumnsText {
  font-size: clamp(0.75rem, 0.755vw, 0.76rem);
}
.addTaskContainer > form > .boardColumnsContainer > .containerForColumn {
  display: flex;
  flex-direction: column;
  max-height: 7rem;
  overflow: hidden;
}
.addTaskContainer > form > .boardColumnsContainer > .containerForColumn > .scrollableContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.addTaskContainer > form > .boardColumnsContainer > .containerForColumn > .scrollableContainer ::-webkit-scrollbar {
  display: none;
}
.addTaskContainer > form > .boardColumnsContainer > .containerForColumn > .scrollableContainer > .eachColumnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.addTaskContainer > form > .boardColumnsContainer > .containerForColumn > .scrollableContainer > .eachColumnContainer > label > input {
  width: 16.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  font-size: clamp(0.8125rem, 0.82vw, 0.825rem);
  background-color: transparent;
  border: 1px solid #828fa3;
  outline: none;
  padding: 0rem 0rem 0rem 1rem;
}
.addTaskContainer > form > .boardColumnsContainer > .containerForColumn > .scrollableContainer > .eachColumnContainer > label > input:hover {
  border-color: #635fc7;
  cursor: pointer;
}
@media (min-width: 768px) {
  .addTaskContainer > form > .boardColumnsContainer > .containerForColumn > .scrollableContainer > .eachColumnContainer > label > input {
    width: 24.0625rem;
  }
}
.addTaskContainer > form .card {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.addTaskContainer > form .card > label {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.75rem, 0.755vw, 0.76rem);
  row-gap: 0.5rem;
  width: 100%;
}
.addTaskContainer > form .card > label .select-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addTaskContainer > form .card > label .select-container > .dropdownContainer {
  display: block;
  align-items: center;
  padding: 0rem 2rem 0rem 1rem;
  border-radius: 0.25rem;
  font-size: clamp(0.8125rem, 0.82vw, 0.825rem);
  background-color: transparent;
  border: 1px solid #828fa3;
}
.addTaskContainer > form .card > label .select-container > .chevron-icon {
  position: absolute;
  top: 50%;
  right: 0.85rem;
  transform: translateY(-50%);
  color: inherit;
  cursor: pointer;
  z-index: 1;
}

.editDeleteContainer {
  width: 12.125rem;
  height: 5.875rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem 0rem 0rem 1rem;
  row-gap: 0.75rem;
}
.editDeleteContainer > .editText,
.editDeleteContainer .deleteText {
  font-size: clamp(0.8125rem, 0.82vw, 0.825rem);
}
.editDeleteContainer > .editText {
  color: #828fa3;
}
.editDeleteContainer > .deleteText {
  color: #ea5555;
}

.ViewTaskContainer {
  width: 21.4375rem;
  height: auto;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
  padding: 2rem 1.5rem;
}
@media (max-width: 1000px) {
  .ViewTaskContainer {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 768px) {
  .ViewTaskContainer {
    width: 30rem;
  }
}
.ViewTaskContainer > article {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
}
.ViewTaskContainer > .titleWithEditBtn {
  display: grid;
  grid-template-columns: 1fr 0fr;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.ViewTaskContainer > .titleWithEditBtn > article {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
}
.ViewTaskContainer > .descriptionContainer {
  font-size: clamp(0.8125rem, 0.82vw, 0.825rem);
  color: #828fa3;
}
.ViewTaskContainer > .subTaskContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.ViewTaskContainer > .subTaskContainer > article {
  font-size: clamp(0.75rem, 0.755vw, 0.76rem);
}
.ViewTaskContainer > .subTaskContainer > .listOfTask {
  display: flex;
  flex-direction: column;
  height: 7rem;
  overflow: hidden;
}
.ViewTaskContainer > .subTaskContainer > .listOfTask > .scrollableContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.ViewTaskContainer > .subTaskContainer > .listOfTask > .scrollableContainer ::-webkit-scrollbar {
  display: none;
}
.ViewTaskContainer > .subTaskContainer > .listOfTask > .scrollableContainer > .subTaskContainer {
  height: auto;
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  border-radius: 0.25rem;
}
.ViewTaskContainer > .subTaskContainer > .listOfTask > .scrollableContainer > .subTaskContainer > p.titleText {
  font-size: clamp(0.75rem, 0.755vw, 0.76rem);
  line-height: auto;
}
.ViewTaskContainer .card {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.ViewTaskContainer .card > label {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.75rem, 0.755vw, 0.76rem);
  row-gap: 0.5rem;
  width: 100%;
}
.ViewTaskContainer .card > label .select-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ViewTaskContainer .card > label .select-container > .dropdownContainer {
  display: block;
  align-items: center;
  padding: 0rem 2rem 0rem 1rem;
  border-radius: 0.25rem;
  font-size: clamp(0.8125rem, 0.82vw, 0.825rem);
  background-color: transparent;
  border: 1px solid #828fa3;
}
.ViewTaskContainer .card > label .select-container > .chevron-icon {
  position: absolute;
  top: 50%;
  right: 0.85rem;
  transform: translateY(-50%);
  color: inherit;
  cursor: pointer;
  z-index: 1;
}

.editDeleteBtn {
  position: absolute;
  top: 20%;
  right: -15%;
}
@media (max-width: 768px) {
  .editDeleteBtn {
    position: absolute;
    top: 20%;
    right: 10%;
  }
}

.toggleContainer {
  width: 83%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-inline: auto;
  border-radius: 0.375rem;
}

.hideSideBar {
  padding: 0rem 0rem 0rem 1.625rem;
  color: #635fc7;
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  height: 3rem;
}
.hideSideBar:hover {
  width: 92%;
  background-color: #a8a4ff;
  border-radius: 0rem 1.5rem 1.5rem 0rem;
  color: #635fc7;
}

.settingsContainer {
  width: 83%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-inline: auto;
  border-radius: 0.375rem;
  justify-content: space-between;
}
.settingsContainer > .avatarCircle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.25rem, 1.25vw, 1.26rem);
  color: #635fc7;
  letter-spacing: 1px;
}

.profileContainer {
  width: 21.4375rem;
  height: auto;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
  padding: 2rem 1.5rem;
  margin-top: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
@media (max-width: 1000px) {
  .profileContainer {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 768px) {
  .profileContainer {
    width: 30rem;
  }
}
.profileContainer > article {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
}
.profileContainer > .profileCircle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: clamp(2.5rem, 2.55vw, 2.6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileContainer > .userName {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
  letter-spacing: 1px;
}
.profileContainer > .emailAddress {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
}
.profileContainer > .logoutBtn {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  color: #828fa3;
}

.containerOpen {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .containerOpen {
    margin-top: 0rem;
  }
}
@media (min-width: 768px) {
  .containerOpen {
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
}

#overlayEffect {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.preloader-container {
  display: grid;
  place-items: center;
}
.preloader-container > .wrap > .ball {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #e4ebfa;
  display: inline-block;
  margin-top: 6rem;
  border-radius: 50%;
}

.emailConfirmationContainer {
  width: 21.4375rem;
  height: auto;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  padding: 2rem 1.5rem;
  background-color: #ffffff;
  color: #2b2c37;
}
@media (min-width: 767px) {
  .emailConfirmationContainer {
    width: 30rem;
  }
}/*# sourceMappingURL=ContainersStyles.css.map */