name: Node.js CI

on: [push]

jobs:
  build:
    name: Run type checking & tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm ci
        working-directory: ./frontend

      - name: Build the project
        run: npm run build --if-present
        working-directory: ./frontend

      - name: Run unit tests
        run: npm test
        working-directory: ./frontend